<div class="container-app">
  <div class="title">
    <h4>All the</h4>
    <h1>Films</h1>
  </div>
  <div class="container-list">
    <div *ngFor="let film of allFilmes" class="list-film">
      <app-film-tile
        [filmInfo]="film" 
        (isSelectEpisodie)="changeCrawl($event)" 
        [isCrawled]="thisCrawl == film.episode_id"
        >
      </app-film-tile>
    </div>
  </div>
  
</div>


<style>

  .container-app {
    height: 100%;
    display: flex;
  }

  .container-list {
    flex: 10;
    display: grid;
    gap: 1em;
    padding: 0;
    grid-template-rows: repeat(auto-fill, minmax(10rem, 100%));
    grid-template-columns: repeat(auto-fit, minmax(min(17rem, 100%), 1fr));
  }

  .title {
    flex: 1;
    margin-right: 40px;
    position: sticky;
  }
  

  .title h4 {
    font-size: clamp(27pt, 3em, 20%);
    font-weight: 300;
    margin: 0;
  }

  .title h1 {
    font-weight: 900;
    margin: 0;
  }

  @media (max-width: 600px) {
    .container-app {
      display: block;
      height: fit-content;
    }

    .title {
      flex: 1;
      margin-bottom: 40px;
    }
  
  }

</style>