<div>
    <div class="film-container" (click)="selectedFilmCrawl(filmInfo.episode_id)">
        <div class="film_heading">
            <h2>{{filmInfo.title}}</h2>
        </div>
        <div class="director">
            <h3>Direct by {{filmInfo.director}}</h3>
            <a [routerLink]="['/cast',filmInfo.url.substring(27)]" routerLinkActive="active" ariaCurrentWhenActive="page">View cast</a>
        </div>
        <section *ngIf="isCrawled">
            <div class="crawl-container">
                <span><h3>Episode {{convertRoman(filmInfo.episode_id)}}</h3> {{filmInfo.opening_crawl}}</span>
            </div>
        </section>
        <section *ngIf="!isCrawled">
            <div class="crawl-container-hidden">
                <h1>Episode</h1> 
                <span>{{filmInfo.opening_crawl}}</span>
            </div>
        </section>
    </div>
</div>


<style>
    .film-container {
        border: solid .2px rgba(255, 255, 255, 0.4);
        padding: 20px;
        border-radius: 5px;
    }

    .film-container:hover {
        transition: all .2s ease-in-out;
        transform: translateY(3px);
        box-shadow: 0px 0 10px 5px rgba(255, 255, 255, 0.3);
    }

    .film_heading{
        margin: 0;

    }

    .film_heading h2 {
        flex: 3;
        margin: 0;
    }

    .film_heading span {
        flex: 2;
        font-size: 15px;
        white-space: nowrap;
        font-weight: 300;
    }

    .director h3{
        font-weight: 300;
    }

    .director a{
        font-size: 18pt;
        font-weight: 700;
        color: var(--action-color);
    }

    .crawl-container-hidden {
        overflow: hidden;
        height: 0px;
        width: 100%;
    }

    .crawl-container {
        overflow-y: hidden;
        justify-content: center;
        align-self: center;
        height: 20em;
        display: flex;
        margin: 0px 0pc;
        text-align: justify;
        transform: rotateX(60deg)  translateZ(0);
        perspective: 400px;
    }
    
    .crawl-container span {
        font-family: 'Pathway Gothic One', sans-serif;
        color: #feda4a;
        font-size: 300%;
        font-weight: 600;
        letter-spacing: 6px;
        line-height: 150%;
        position: relative;
        text-transform: uppercase;
        transform-origin: 50% 100%;
        animation: crawl 260s linear;
    }

    .crawl-container h3 {
        text-align: center;
    }

    @keyframes crawl {
    0% {
        top: 200px;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(100deg) translateZ(-2500px);
    }
}

</style>