<div *ngIf="isLoadPeople" class="load-cnt">
    <h1>Loading...</h1>
</div>
<app-modal 
    [isOpen]="isOpenModal" 
    [peopleSelected]="peopleSelected"
    [films]="filmsOfCharacterSelected"
    (isClosed)="openModal($event)"></app-modal>
<div *ngIf="!isLoadPeople" class="castel">
    <div class="title">
        <div>
            <h4>All the</h4>
            <h1>Cast of {{filmSelect.title}}</h1>
        </div>
        <!-- Filtros -->
        <form class="filters" [target]="filterForm" (submit)="getFilterValues()">
            <div class="filter">
                <h5>color eyes: </h5>
                <select [(ngModel)]="filterEye" name="filterEye" >
                    <option value="All">All</option>
                    <option value="yellow">yellow</option>
                    <option value="red">red</option>
                    <option value="blue-gray">blue-gray</option>
                    <option value="orange">orange</option>
                    <option value="brown">brown</option>
                </select>
            </div>
            <div class="filter">
                <h5>gener: </h5>
                <select [(ngModel)]="filterGener" name="gener">
                    <option value="All">All</option>
                    <option value="n/a">n/a</option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                    <option value="hermaphrodite">hermaphrodite</option>
                </select>
            </div>
            <div class="filter">
                <h5>film: </h5>
                <select [(ngModel)]="filterFilm" name="films">
                    <option value="The Phantom Menace">The Phantom Menace</option>
                    <option value="Attack of the Clones">Attack of the Clones</option>
                    <option value="Revenge of the Sith">Revenge of the Sith</option>
                    <option value="A New Hope">A New Hope</option>
                    <option value="The Empire Strikes Back">The Empire Strikes Back</option>
                    <option value="Return of the Jedi">Return of the Jedi</option>

                </select>
            </div>
            <button type="submit">Filter</button>
        </form>
    </div>
        <div class="container-list" *ngIf="filterCast.length === 0">
            <div *ngFor="let people of listCast.slice(0,fristCharacters)">
                <app-character-tile 
                    [characterize]='people' 
                    (isOpenModal)="openModal($event)"
                    (peopleSelected)="selectPeople($event)"
                    ></app-character-tile>
            </div>
            <button *ngIf="listCast.length != fristCharacters" class="btn-more" (click)="seeMore()">load more ({{fristCharacters}} of {{listCast.length}})</button>
        </div>
        <div *ngIf="filterCast.length !== 0">
            <h3>{{resultsFilterTitle}}</h3>
            <div class="container-list" >
                <div *ngFor="let people of filterCast.slice(0,fristCharacters)">
                    <app-character-tile [characterize]='people'></app-character-tile>
                </div>
                <button *ngIf="filterCast.length >= fristCharacters" class="btn-more" (click)="seeMore()">load more ({{fristCharacters}} of {{filterCast.length}})</button>
            </div>
        </div>
</div>


<style>

    .castel {
        display: block;
        padding: 0;
    }

    .title {
        flex: 1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        position: sticky;
    }

    .title h4 {
        font-size: clamp(27pt, 3em, 20%);
        font-weight: 300;
        margin: 0;
    }

    .title h1 {
        font-weight: 900;
        margin: 0;
    }

    .btn-more {
        background-color: transparent;
        border: dashed .2px rgba(255, 255, 255, 0.4);
        color: white;
        font-size: 18pt;
        cursor: pointer;
    }
    .btn-more:active {
        transition: all 0.1s ease-in-out;
        transform: translateY(3px);
        box-shadow: 0px 0 4px 5px rgba(255, 255, 255, 0.3);
    }


    .filters{
        display: flex;
        height: fit-content;
        justify-content: start;
        align-self: end;
    }

    .filter{
        display: flex;
        margin: 0px 10px;
    }
    .filter h5{
        font-size: clamp(14pt, 3em, 10%);
        margin: 0;
        margin: 0px 5px;
    }

    .filter select{
        background-color: transparent;
        color: #fff;
        font-size: clamp(14pt, 3em, 10%);
    }

    .filter  option{
        background-color: transparent;
        color: #000;
        font-size: clamp(14pt, 3em, 10%);
    }

    .container-list {
        flex: 10;
        display: grid;
        padding: 0;
        gap: 1em;
        grid-template-rows: repeat(auto-fill, minmax(10em, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    }

    .load-cnt {
        display: flex;
        margin: auto;
        height: calc(100vh - 40px);
        width: calc(100vw - 90px);
    }
    
    .load-cnt h1 {
        margin: auto;
        width: 100%;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 300;
        justify-content: center;
    }


    @media (max-width: 1200px) {
        .title {
            flex-direction: column;
            align-items: flex-start;
            align-self: start;
            align-content: flex-start;
            justify-content: start;
        }

        .filters{
            padding: 20px 0px;
            align-self: start;
        }

        .filter{
            flex-direction: column;
            margin: 0;
            margin-right: 10px;
        }

        .filter h5{
            margin: 5px 0px;
        }
    }

    
</style>